body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-primary: #A91919;
    --color-primary-dark: #590808;
}


.thin-border {
    border: 0.5px solid white !important;
}

header {
    img {
        width: 90px;
        /* height */
    }
}