body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-primary: #A91919;
    --color-primary-dark: #590808;
}


.thin-border {
    border: 0.5px solid white !important;
}

.sub-title {
    font-weight: 350;
    font-size: 3.4rem;
    line-height: normal;
}

header {
    .logo-img {
        width: 90px;
        /* height */
    }
}